node_modules/
package-lock.json
dist/package.json
dist/src/app.js
dist/src/bin/www.js
dist/src/controllers/homeController.js
dist/src/controllers/usersController.js
dist/src/data/userData.js
dist/src/data/usersData.js
dist/src/json/users.json
dist/src/middlewares/apiConfig.js
dist/src/middlewares/errorConfig.js
dist/src/middlewares/index.js
dist/src/middlewares/middlewareConfig.js
dist/src/middlewares/swaggerConfig.js
dist/src/public/stylesheets/style.css
dist/src/services/userService.js
dist/src/services/usersService.js
dist/src/stylesheets/style.css
dist/src/views/error.jade
dist/src/views/index.jade
dist/src/views/layout.jade
